*{
    margin: 0;
    padding: 0;
}
#navbar{
    display: flex;
    width: 70%;
    border: 1px solid grey;
    margin-left: 28.3%;
    padding: 15px;
}
#query{
    padding: 10px 20px;
    border: 1px solid black;
}
