#screen{
    display: flex;
}
#sidebar{
    width: 20%;
    /* border: 1px solid blue; */
}
#results{
    width: 80%;
    border-top: 1px solid lightgray;
    background-color: rgb(243, 240, 240);
}
#cards{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    
}
#title{
    overflow: hidden;
    border: 1px solid teal;
    width: 100%;
}
iframe{
    border: none;
}
#sidebar>div{
    display: flex;
    /* border: 1px solid red; */
    width:77%;
    margin: auto;
    padding: 2%;
    margin-bottom: 10px;
}