*{
    font-family: sans-serif;
}
#slideshow{
    width: 99%;
    margin: auto;
    
}
#slideshow>img{
    width: 100%;
    height: 70vh;

}
#movies{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
    column-gap: 30px;
    margin: auto;
}
#movies>div{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
}
.photo{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
p{
    font-size: 14px;
    padding-bottom: 10px;
    font-weight: 700;
}
h2{
    padding-bottom: 5px;
    margin-bottom: 10px;
}