form{
    margin: 0 auto;
    margin-top: 50px;
    width: 30%;
    border: 1px solid teal;
    padding: 30px;
    background-color: burlywood;
}
input[type ='text'],
input[type ='number'],
input[type ='submit']{
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
    resize: vertical;
}