.product{
    display: grid;;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}
.product>div{
    margin: auto;
    width: 80%;
    border: 1px solid teal;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    
}
img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#remove{
    margin-right: 100px;
    border: 0;
    background-color: #1A232E;
    color: #93989E;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
#sold{
    border: 0;
    background-color: #1A232E;
    color: #93989E;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
#counter{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid teal;
    background-color: #244266;
    color: white;
    font-size: 30px;
    width: 10%;
    border-radius: 20px;
    padding: 10px
}
a{
    border: 2px solid teal;
    text-decoration: none;
    background-color: #244266;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    /* width: 100%; */
    font-size: 30px;
    
}
#top{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}