* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #b8bfc7;
}
body {
  background-color: #1a232e;
}
#navbar {
  background-color: #1a232e;
  margin: auto;
  display: flex;
  height: 14px;
  position: sticky;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
#center_ {
  margin-left: 130px;
  margin-top: 10px;
}
#right_ {
  display: flex;
  width: 30%;
  justify-content: space-between;
}
#search,
textarea {
  border: none;
  background-color: #1a232e;
  border-bottom: 1px solid #b8bfc7;
  padding: 2px;
  width: 300px;
  color: #a6adb4;
  font-weight: 600;
  outline: none;
}
#submit {
  background-color: blue;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #b8bfc7;
}
